.header {
  height: 400px;
  width: 100%;
  background-color: #cfabaa;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}